<h3>Create a new User:</h3>

<form action='/signup' method='post'>
<div>Username: <input type='text' name="username"></div>
<div>Password: <input type='text' name="password"></div>
<input type='submit' >
</form>