<h2>Sign Up</h2>

<form action="/create_users" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder='password'>
    <input type="submit" value="submit">
  
</form>