<h2>Signin:</h2>

<form action="/signin" method="post">
	<input type="text" name="username" placeholder="Username">
	<input type="text" name="password" placeholder="Password">
	<input type="submit" />
</form>