
.wrapper {
	width: 800px;
	border:1px solid red;
	margin: 100px auto;
	/*position: relative;*/
	overflow: hidden;
}

.block {
	width: 200px;
	height: 100px;
	background-color: pink;
	margin: 5px 0 5px 50px;
	
	float: left;
	/*position: relative;*/
}


@media all and (max-width: 480px){
	body{
		/*background-color: salmon;*/
	}
	.wrapper {
		width: 80%;
	}

	.block {
	width: 200px;
	height: 100px;
	background-color: pink;
	margin-left:50px;
	margin-top: 10px;
	float: none;
	position: relative;
	}

}



@media all and (min-width: 481px) and (max-width:767px){
	body{
		/*background-color: teal;*/
	}

	.wrapper {
	width: 460px;
	border:1px solid red;
	margin: 100px auto;
	/*position: relative;*/
	overflow: hidden;
	}

	.block {
	width: 120px;
	height: 100px;
	background-color: pink;
	margin: 5px 0 5px 25px;
	
	float: left;
	/*position: relative;*/
	}

}



@media all and (min-width: 768px) and (max-width:991px){
	body{
		/*background-color: blue;*/
	}
}

@media all and (min-width: 992px){
	body{
		/*background-color: green;*/
	}

}