#wrapper {
	width: 90%;
	margin: 10px auto;
	/*border: 2px solid orange;*/
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5px;
}

.left-side {
	/*background-color: purple;*/
	border: 1px solid;
}

.right-side {
	/*background-color: red;*/
	border: 1px solid;
}

* {
	margin: 5px;
}

.gdp-map {
	width: 90%;
	margin: auto;
	height: 300px;
}

.flag1, .flag2 {
	width: 265px;
	height: 150px;
	display: block;
}

#compare {
	margin: 10px auto;
}

@media all and (max-width: 991px) {
	#wrapper {
		grid-template-columns: 1fr;
	}
}