// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.content {
	width: 70%;
	margin: 0 auto;
	border: 3px solid;
	border-radius: 5px;
	min-height: 200px;
}

#article_content {
	min-width: 400px;
	min-height: 200px;
	// background-color: pink;
}


// .content-article {
// 	margin: 0;
// 	padding: 0;
// 	border:2px solid;
// }

.index-content {
	width: 70%;
	border: 2px solid;
	border-radius: 5px;
}