body {
	margin: 0;
	padding: 0;
}

nav {
	border: 2px solid;
	width: 95%;
	height: 50px;
	margin: 0 auto;
	background-color: $main-color;
	box-shadow: $main-box-shadow;

}
	nav ul {
		text-align: center;	
	}

	nav ul li{
		display: inline-block;
	}

	nav ul li a{
		margin: 0px 50px;

	}

	nav ul li:hover {
		background-color: $hover-color;
		border: 1px solid;
		box-shadow: $main-box-shadow;
	}

