* {
	font-family: $main-font;
}

body {
	@include testing;
}


.navbar {
	width: 400px;
	height: 70px;
	border: 2px solid;
	margin: 0 auto;
	box-shadow: $box-shadow;
	
}

ul{
	// border: 2px solid red;
	// background-color: salmon;
	box-shadow: $box-shadow;



	li{
		background-color: $main-color;
		display: inline-block;
		margin-right: 40px;
		box-shadow: $box-shadow;
		font-size: 24px
	}

	li:hover {
		background-color: purple;
	}
}