
<h2>Login</h2>
<form method='post' action='/login'>
	Username:<input type='text' name='username' placeholder='username'>
	Password:<input type='password' name='password' placeholder='password'>
	<input type='submit' value='login'>
</form>