// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar {
	width: 50%;
	border: 2px solid red;
	margin: 0 auto;

}

.navbar ul li {
	display: inline-block;
	margin-left: 20px; 
}