// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
	margin: 0;
	padding: 0;
}

.post-list {
	border: 2px solid;
	width: 40%;
	margin: 0 auto;
	background-color: salmon;
	text-align: center;
	border-radius: 15px;
}

.post-form {
	border: 2px solid;
	width: 50%;
	margin: 10px auto;
	background-color: teal;
	padding: 10px;
	border-radius: 15px;
}

.show-post {
	border: 3px solid;
	margin: 10px auto;
	width:50%;
	background-color: salmon;
	border-radius: 15px;	
}

 .comments-table li {
list-style-type: none;
padding-left: 10px;
}


.comments {
	width: 80%;
	border: 2px solid;
	border-radius: 15px;	
	margin: 5px auto;
	background-color: yellow;	
}

.image {
	// border:2px solid red;
	text-align: center;
}
.image img {
	border-radius: 15px;
	
}






