<!DOCTYPE html>
<html>
  <head>
    <title>LibraryJoinTable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav>
	<li><a href='/genres'>List of Genres available</a></li>
	<li><a href='/genres/new'>Create new Genre</a></li>
	<li><a href='/authors/new'>Create new Author</a></li>
</nav>

    <%= yield %>
  </body>
</html>
