<div class='create-form'>
<h3 style='color:red'>Update current Blog</h3>

	<form method='POST' action='/update/<%= @blog.id %>' >
		<p>Title</p>
		<input type='text' name='name' value=<%= @blog.name %> >

		<p>Category</p>
		<input type='text' name='category' value=<%= @blog.category %> >

		<p>Content</p>
		<textarea  name='content' ><%= @blog.content %></textarea>
		<br>
		
		<input type='submit' value='update Blog'>
	</form>
</div>



