<!-- Search form -->
<form action='/' method='get'>
<input type='text' name='search' placeholder='Search here'>
<input type='submit' value='Search term'>
</form>

<hr>

<h3 style='color: red'>All the blogs:</h3>

<% @blogs.each do |b| %>

<div><%= b.name %></div>
<div><%= b.content %></div>
<div><%= b.category %></div>
<hr>
<% end %>


<h3 style='color:red'>Create new Blog</h3>
<div>
	<form method='POST' action='/new_blog'>
		<p>Title</p>
		<input type='text' name='name' placeholder='title'>
		<p>Category</p>
		<input type='text' name='category' placeholder='category'>
		<p>Content</p>
		<input type='text' name='content' placeholder='content'>
		<br>
		<br>
		<input type='submit' value='create Blog'>
	</form>


</div>