<!-- Search form -->
<form action='/' method='get'>
<input type='text' name='search' placeholder='Search here'>
<input type='submit' value='Search term'>
</form>

<hr>

<h3>All the blogs:</h3>

	<% @blogs.each do |b| %>

	<div><a href="/blogs/<%= b.id %>"><%= b.name %></a></div>
	<div><%= b.content %></div>
	<div><%= b.category %></div>
	<hr>
	<% end %>


