<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">All Blogs</a></li>
			<li><a href="/new">New Blog</a></li>
		</ul>
	</nav>



<div class='main-content'>
	<%= yield %>
</div>


</body>
</html>