<div class='create-form'>
<h3 style='color:red'>Create new Blog</h3>
	<form method='POST' action='/new_blog'>
		<p>Title</p>
		<input type='text' name='name' placeholder='title'>
		<p>Category</p>
		<input type='text' name='category' placeholder='category'>
		<p>Content</p>
		<input type='text' name='content' placeholder='content'>
		<br>
		<br>
		<input type='submit' value='create Blog'>
	</form>
</div>

