<form action="/edit/<%= @user.id %>" method="post">
    <input type="text" name="username" placeholder="username">
    <textarea type="text" name="password" placeholder='password'></textarea>
    <input type="submit" value="submit">
  
</form>